<html>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='mychart.js') }}"
    async
  ></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='Chart.bundle.js') }}"
    async
  ></script>

  <body>
    <h1>Test chart.js</h1>
    <div style="width: 70%;">
      <canvas id="myChart"></canvas>
    </div>
  </body>
</html>
